<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.3/phpunit.xsd"
    backupGlobals="false"
    colors="true"
    bootstrap="Tests/bootstrap.php" >
    <php>
        <env name="BOOTSTRAP_CLEAR_CACHE_ENV" value="empty,google_analytics" />
    </php>
    <testsuites>
        <testsuite name="JS SDK Bundle Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
